*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgba(222, 201, 247, 0.74);
    
}

main{
    background-color: white;
    width:800px;
    padding: 60px;
    margin: auto;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.450);
}

img.imagens2 {
    width: 800px;
    border: 20px;
    border-radius: 3px;
    border-color:rgb(191, 146, 245) ;
}